<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Time Zone:</strong>
  <%= @user.default_trigger_time_zone %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<% if @user.organization %>
<p>
  <strong>Organization:</strong>
  <%= @user.organization.name.capitalize %>
</p>
<% end %>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
